body{
    background-color: #DADADA;
}

h1{
    margin-left: 70px;
    margin-top: 40px;
}

.delivery-wrapper{
    padding: 10px 80px;
    margin: 25px -10px;
    background-color: #fff;
}

.delivery-items{
    color: #706F6F;
    font-size: 25px;
}