@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #DADADA;
    /* color: #706F6F; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

header .header-top{
    position: relative;

} 

header .header-top-ul{
    list-style: none;
    padding-bottom: 5px;
    margin-right: 70px;
}

header .header-link-item{
    color: #706F6F;
}

header .header-top-ul li{
    margin-right: 5px;
    display: inline;
    float: right;
}

header .header-top-ul li:hover{
    color: black;
    text-decoration: underline;
}

header a{
    text-decoration: none;
    color: #bcbcbc;
}

header a:hover{
    color: black;
}


header .header-main{
    position: relative;
    background-color: #fff;
    margin: 0px -10px;
    margin-top: 30px;
    padding: 10px 80px;
    height: 50px;
}

header .logo{
    color: #1D71B8;
    font-weight: 800;
    font-size: 35px;
}

header .logo:hover{
    color: #1D71B8;
    text-decoration: underline;
}

.search-form{
    width: 25%;
    display: inline;
    margin-left: 20%;
}

.search{
   height: 35px;
   width: 23%;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   padding-left: 20px;
   font-size: 20px;
}

.search-button{
    padding-top: 5px;
    background-color: #1D71B8;
    height: 40px;
    width: 2.5%;
    color: #fff;
    border: #1D71B8;
    border-radius: 1px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

header ul.nav{
    margin-top: 7px;
    float: right;
    list-style: none;
}

.nav-item{
    color: #808080;
}

.nav-item:hover{
    color: rgb(0, 0, 0);
}

header ul.nav li{
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
    font-size: 35px;
}

.shop-cart-button{
    color: #808080;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
    font-size: 35px;
}

.shop-cart-button:hover,
.shop-cart-button.active{
    color: rgb(0, 0, 0);
}

.shop-cart{
    position: absolute;
    top: 70px;
    right: 80px;
    width: 450px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 0;
    background: #fafafa;
    box-shadow: 7px 6px 14px 0px rgba(104,101,101,0.84);
    -webkit-box-shadow: 7px 6px 14px 0px rgba(104,101,101,0.84);
    -moz-box-shadow: 7px 6px 14px 0px rgba(104,101,101,0.84);
    z-index: 1000;
}

.shop-cart .shop-cart-item{
    width: 100%;
    float: left;
    margin-bottom: 20px;
}

.shop-cart .empty{
    font-size: 15px;
    margin-bottom: 20px;
    margin-top: -20px;
}

.shop-cart .shop-cart-item img{
    /* height: 100px; */
    width: 85px;
    float: left;
    margin-right: 20px;
}

.shop-cart .shop-cart-item h3{
    font-size: 20px;
    margin-bottom: 10px;
}

.shop-cart .shop-cart-item b{
    color: #797979;
    font-weight: 600;
}

.shop-cart-item .delete-icon{
    color: #ca5252;
    float: right;
    position: relative;
    top: -22px;
    right: 13px;
    cursor: pointer;
    transition: color, transform 500ms ease;
}

.shop-cart-item .delete-icon:hover{
     color: #d83030;
     transform: scale(1.5);  
}

.shop-cart .summa{
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}