@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* *{
    margin: 0;
    padding: 0;
  
} */


body{
    background-color: #DADADA;
    /* color: #706F6F; */
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.wrapper{
    margin: 0px 70px;
}

header .header-top{
    position: relative;
    
} 

header .header-top-ul{
    list-style: none;
    padding-bottom: 5px;
    margin-right: -10px;
}

header .header-link-item{
    color: #706F6F;
}

header .header-top-ul li{
    margin-right: 5px;
    display: inline;
    float: right;
}

header .header-top-ul li:hover{
    color: black;
    text-decoration: underline;
}

header a{
    text-decoration: none;
    color: #bcbcbc;
}

header a:hover{
    color: black;
}


header .header-main{
    background-color: #fff;
    margin: 0px -80px;
    margin-top: 30px;
    padding: 10px 80px;
    height: 50px;
}

header .logo{
    color: #1D71B8;
    font-weight: 800;
    font-size: 35px;
}



header .search{
   margin-left: 220px;
   height: 35px;
   width: 450px;
   border-top-left-radius: 20px;
   border-bottom-left-radius: 20px;
   padding-left: 20px;
   font-size: 20px;
}

header .search-button{
    padding-top: 5px;
    background-color: #1D71B8;
    height: 40px;
    width: 40px;
    color: #fff;
    border: #1D71B8;
    border-radius: 1px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

header ul.nav{
    margin-top: 7px;
    float: right;
    list-style: none;
}

header .nav-item{
    color: #808080;
}


header ul.nav li{
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: opacity 500ms ease;
    font-size: 35px;
}


header .nav-item:hover{
    color: rgb(151, 151, 151);
}

.presentation{
    margin-top: 50px;
    background: url('./img/main.background.png') no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 33.5%; 
    position: relative;
    background-blend-mode: multiply;
    background-color: #bcbcbc;
}
.presentation::after{
    content: "Оренда PS5&PS4";
    position: absolute;
    top: 25%;
    left: 9.5%;
    font-size: 8.15vw;
    font-weight: 500;
    color: #fff;
}

.presentation::before{
    content: "А також Xbox та ігри до них";
    position: absolute;
    top: 55%;
    left: 25%;
    font-size: 3.2vw;
    font-weight: 300;
    color: #fff;
}

main{
    margin: 0px -80px;
    padding: 0px 70px;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}   

.rentItem, .rentGamesMore{
    margin-top: 40px;
    color: black;
    display: inline-block;
}

.rentGamesMore{
    margin-top: 55px;
    float: right;
    margin-right: 30px;
    font-size: 18px;
}



main .item{
    width: 200px;
    padding-top: 45px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

main .item img{
    height: 191px;
}

main .item b{
    text-align: center;
}


main .item h3{
    text-align: center;
}

.links{
    text-decoration: none;
    color: black;

}

.links:hover{
    text-decoration:underline;
}

footer{
    margin-top: 20px;
}

footer .footer-items{
    display: inline;
    
}

footer .footer-info{
    display: inline-block;
    margin-right: 100px;
    color: #706F6F;
}

footer ul{
    list-style: none;
    float: right;
    margin-top: 95px;
}

footer ul li{
    display: inline;
}    



footer .copyright{
    margin-top: 40px;
    text-align: center;
    color: #706F6F;
}