
body{
    background-color: #DADADA;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

h1{
    margin-left: 70px;
    margin-top: 40px;
}

.payment-wrapper{
    padding: 10px 80px;
    margin: 25px -10px;
    background-color: #fff;
}

.payment-items{
    color: #706F6F;
    font-size: 25px;
}